@font-face {
 font-family: 'lato'; /* requerido */
 src: '../../fonts/lato/Lato-black.ttf';                        /* requerido */
}
@font-face {
 font-family: 'lato-Regular'; /* requerido */
 src: '../../fonts/lato/lato-Regular.ttf';                        /* requerido */
}