@font-face {
 font-family: 'lato'; /* requerido */
 src: url('../../fonts/lato/Lato-black.ttf');                        /* requerido */
}
@font-face {
 font-family: 'lato-Regular'; /* requerido */
 src: url('../../fonts/lato/Lato-Regular.ttf');                        /* requerido */
}