@media(min-width:200px) and (max-width:300px){
		
}
@media(min-width:200px) and (max-width:300px){
	
	

	.imgLogo,.imgLogoMovil{
		width: 70%;
	}
	.logoSection{
		margin-left: 0;
		width: 100%;
		/*background: purple;*/
	}
	.main{
		margin-top: 12%;
		/*background: green;*/
	}
	.intro{
		margin-top: 15%;
		width: 100%;
	}
	.comingText{
		/*margin-top: 5%;*/
	}
	
	
}

@media(min-width:300px) and (max-width:400px){
	
	body{
		/*background: pink;*/
	}
	.menuSection{
		padding: 0;
		margin:0;
		width: 100%;

	}
	.logoSection{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.menuSection div{
		font-size: 0.8em;		
	}
	.main{
		margin-top: 5%;
	}
	
	.imgLogo, .imgLogoMovil{
		width: 80%;
		margin: 0 auto;
	}
	.intro{
		margin-top: 15%;
		width: 100%;
	}
	.ComingRow{
		margin-top: 15%;
		margin-bottom: 15%;
	}
	.comingText{
		font-size: 1em;
		vertical-align: top;
		margin-top: 2%;
	}
	.sloganSection{
		font-size: 0.9em;
	}
	.menuSection div{
		font-size: 0.5em;
	}

	
}
@media(min-width:400px) and (max-width:500px){
	
	.logoSection{
		width: 70%;
		/*padding-left:10%;*/
	}
	.menuSection div{
		font-size: 0.8em;		
	}
	.main{
		margin-top: 5%;
	}
	
	.imgLogo, .imgLogoMovil{
		width: 90%;
	}
	.intro{
		margin-top: 15%;
		width: 100%;
	}
	.ComingRow{
		margin-top: 15%;
		margin-bottom: 15%;
	}
	.comingText{
		font-size: 1em;
		vertical-align: top;
		margin-top: 2%;
	}
	.sloganSection{
		font-size: 1em;
	}
	.menuSection div{
		font-size: 0.5em;
	}

	
}

@media(min-width:500px) and (max-width:600px){
	
	.menuSection div{
		font-size: 0.8em;		
	}
	.main{
		margin-top: 5%;
	}
	
	.imgLogo, .imgLogoMovil{
		width: 90%;
	}
	.intro{
		margin-top: 15%;
		width: 100%;
	}
	.ComingRow{
		margin-top: 15%;
		margin-bottom: 15%;
	}
	.comingText{
		font-size: 1em;
		vertical-align: top;
		margin-top: 2%;
	}
	.sloganSection{
		font-size: 1em;
	}

}

@media(min-width:600px) and (max-width:700px){
	
	.main{
		margin-top: 1%;
	}
	.intro{
		margin-top: 10%;
		width: 60%;
	}
	.comingText{
		font-size: 1.5em;
	}
	.imgLogo, .imgLogoMovil{
		width: 85%;
	}
	.rowFooter{
		margin-top: 2%;
	}
	.comingText{
		vertical-align: top;
		margin-top:1%;
	}
	.ComingRow{
		margin-top: 10%;
	}
	
}

@media(min-width:700px) and (max-width:800px){
	

	.rombos{
		width: 20%;
	}
	.menuSection{
		padding: 0;
	}
	.menuSection div{
		font-size: 0.9em;		
	}
	.menuRow{
		margin-top: 5%;
	}
	.main{
		margin-top: 0;
	}
	.imgLogo, .imgLogoMovil{
		width: 60%;
	}
	.intro{
		/*margin-top: 3%;*/
		width: 100%;
	}
	.ComingRow{
		margin-top: 15%;
	}
	.comingText{
		font-size: 1.5em;
		vertical-align: top;
		margin-top: 1%;
		margin-right: 4%;
		margin-left: 4%;
	}
	.rowFooter{
		margin-top: 2%;
	}
	.intro{
		width: 60%;
		margin-top: 10%; 
	}
	
}
@media(min-width:768px) and (max-width:800px){
	.imgLogo, .imgLogoMovil{
		width: 85%;
	}
	.ComingRow{
		margin-top: 15%;
	}
	.comingText{
		font-size: 1.5em;
		vertical-align: top;
		margin-top: 1%;
		margin-right: 4%;
		margin-left: 4%;
	}
	.sloganSection{
		margin-top: 5%;
	}
	
}
@media(min-width:800px) and (max-width:900px){
	
	.menuRow{
		margin-top: 3%;
	}	
	.main{
		margin-top: 2%;
	}
	
	.ComingRow{
		margin-top: 15%;
	}
	.comingText{
		font-size: 1.5em;
		vertical-align: top;
		margin-top: 1%;
		margin-right: 4%;
		margin-left: 4%;
	}
	.rowFooter{
		margin-top: 6.5%;
	}
	.rombos{
		width: 20%;
	}
	.intro{
		width: 60%;
		margin-top: 10%; 
	}
	.imgLogo, .imgLogoMovil{
		width: 85%;
	}	
	
}
@media(min-width:992px) and (max-width:999px){
	
	.imgLogo, .imgLogoMovil{
		width: 60%;
	}
	.menuRow{
		margin-top: 3%;
	}
	.ComingRow{
		margin-top: 6%;
	}
	.comingText{
		font-size: 1.5em;
		vertical-align: top;
		margin-top: 1%;
		margin-right: 4%;
		margin-left: 4%;
	}
	.rowFooter{
		margin-top: 3%;
	}
	.sloganSection{
		margin-top: 1%;
	}	

}
@media(min-width:900px) and (max-width:1000px){
	body{
		/*background: pink;*/
	}
	.rombos{
		width: 20%;
	}
	.imgLogo, .imgLogoMovil{
		width: 75%;
	}
	.menuSection div{
		font-size: 0.79em;		
	}
	.sloganSection{
		margin-top: 1%;
	}	
	.main{
		margin-top: 3%;
	}
	.intro{
		margin-top: 7%;
	}
	.menuRow{
		margin-top: 3%;
	}
	.ComingRow{
		margin-top: 6%;
	}
	.comingText{
		font-size: 1.5em;
		vertical-align: top;
		margin-top: 1%;
		margin-right: 4%;
		margin-left: 4%;
	}
	.rowFooter{
		margin-top: 3%;
	}
	.intro{
		width: 30%; 
	}
	
}
@media(min-width:1000px) and (max-width:1100px){
	
	.imgLogo, .imgLogoMovil{
		width: 80%;
	}
	.sloganSection{
		margin-top: 1%;
	}	
	.menuSection div{
		font-size: 0.8em;		
	}
	.main{
		margin-top: 5%;
	}
	
	.intro{
		margin-top: 7%;
	}
	.ComingRow{
		margin-top: 7%;
	}
	.menuRow{
		margin-top: 4%;
	}
	.comingText{
		font-size: 1.5em;
		margin-right: 4%;
		margin-left: 4%;
		vertical-align: top;
		margin-top: 2%;
	}
	.rowFooter{
		margin-top: 3%;
	}
	.intro{
		width: 30%; 
	}


}
@media(min-width:1100px) and (max-width:1200px){
	
	.imgLogo, .imgLogoMovil{
		width: 70%;
	}
	.intro{
		width: 30%; 
	}
	.main{
		margin-top: 2.5%;
	}
	
	.intro{
		margin-top: 5%;
	}
	.comingText{
		font-size: 1.5em;
		margin-right: 4%;
		margin-left: 4%;
		vertical-align: top;
		margin-top: 2%;
	}
	.menuRow{
		margin-top: 4%;
	}
	.rowFooter{
		margin-top: 3%;
	}
	.sloganSection{
		margin-top: 1%;
	}	
	.ComingRow{
		margin-top: 7%;
	}	
}

@media(min-width:1200px) and (max-width:1300px){
	
	.imgLogo, .imgLogoMovil{
		width: 90%;
	}
	.main{
		margin-top: 2.5%;
	}
	.intro{
		margin-top: 5%;
	}
	
	.intro{
		width: 30%; 
	}
	.sloganSection{
		margin-top: 1%;
	}	
	.ComingRow{
		margin-top: 7%;
	}
	.rombos{
		width: 25%;
	}
	.comingText{
		margin-right: 4%;
		margin-left: 4%;
		font-size: 1.5em;
	}
	
	
}
@media(min-width:1300px) and (max-width:1400px){

	.imgLogo, .imgLogoMovil{
		width: 70%;
	}
	.intro{
		margin-top: 5%;
	}
	.intro{
		width: 30%; 
	}
	.comingText{
		font-size: 2em;

	}
	.rombos{
		width: 25%;
	}
	.comingText{
		margin-right: 4%;
		margin-left: 4%;
		font-size: 1.5em;
	}
	.sloganSection{
		margin-top: 1%;
	}	
	.ComingRow{
		margin-top: 7%;
	}
	.menuRow{
		margin-top: 5%;
	}
}
@media(max-width:400px){
	.comingText{
		font-size: 0.6em;
		margin-top: 3%;
	}
	.rowFooter{
		font-size: 0.6em;
	}
	.imgLogoMovil{
		display: block;
	}
	.imgLogo{
		display: none;
	}
}