@media(min-width:200px) and (max-width:300px){
		
}
@media(min-width:200px) and (max-width:300px){
	
	

	.imgLogo,.imgLogoMovil{
		width: 70%;
	}
	.logoSection{
		margin-left: 0;
		width: 100%;
		/*background: purple;*/
	}
	.main{
		margin-top: 12%;
		/*background: green;*/
	}
	.intro{
		margin-top: 15%;
		width: 100%;
	}
	.comingText{
		/*margin-top: 5%;*/
	}
	
	
}

@media(min-width:300px) and (max-width:400px){
	
	.ComingRow{
		margin-top: 10%;
	}
	.logoSection{
		padding: 0;
	}
	.menuSection div{
		/*border-right:  none;*/
	}
	.menuRow{
		margin-top: 5%;
	}
	.main{
		margin-top: 10%;
		/*background: green;*/
	}
	.menuSection div{
		font-size: 0.5em;
	}
	.imgLogo,.imgLogoMovil{
		width: 100%;
	}
	.todo{
		padding: 0;
	}
	.sloganSection{
		font-size: 1em;
	}
	.rowFooter{
		margin-top: 10%;
	}
	.rowFooter h2{
		font-size: 0.8em;
	}
	.comingText{
		font-size: 0.5em;
	}
	.menuSection{
		padding: 0;
	}
	.intro{
		margin-top: 15%;
		width: 100%;
	}
	.rombos{
		width: 20%;
	}
	
}
@media(min-width:400px) and (max-width:500px){
	.main{
		margin-top: 8%;
	}
	
	/*.menuText{
		display: block;
		width: 100%;
		text-align: center;

	}*/
	.todo{
		padding: 0;
	}
	.cuerpo{
		width: 100%;
		/*background: purple;*/
		margin: 0;
	}
	.ComingRow{
		margin-top: 10%;
	}
	.menuRow{
		margin-top: 5%;
	}
	.menuSection{
		/*background: red;*/
	}
	.menuSection div{
		font-size: 0.60em;
	}
	.imgLogo,.imgLogoMovil{
		width: 90%;
	}
	.comingText{
		font-size: 1.2em;
	}
	.rowFooter{
		margin-top: 10%;
	}
	.intro{
		margin-top: 15%;
		width: 100%;
	}
	
}
@media(min-width:500px) and (max-width:600px){

	.menuSection div{
		font-size: 0.8em;		
	}
	.main{
		margin-top: 5%;
	}
	
	.imgLogo, .imgLogoMovil{
		width: 90%;
	}
	.intro{
		margin-top: 15%;
		width: 100%;
	}
	.comingText{
		font-size: 1.5em;
	}
}

@media(min-width:600px) and (max-width:700px){
	
	.main{
		margin-top: 1%;
	}
	.intro{
		margin-top: 5%;
		width: 100%;
	}
	.comingText{
		font-size: 1.5em;
	}
	
}
@media(min-width:700px) and (max-width:800px){
	
	.imgLogo,.imgLogoMovil{
		width: 60%;
	}
	.menuSection{
		padding: 0;
	}
	.menuSection div{
		font-size: 0.9em;		
	}
	.menuRow{
		margin-top: 2%;
	}
	.main{
		margin-top: 0;
	}
	.imgLogo, .imgLogoMovil{
		width: 80%;
	}
	.intro{
		/*margin-top: 3%;*/
		width: 100%;
	}
	.comingText{
		font-size: 1.5em;
	}
	.ComingRow{
		margin-top: 5%;
	}
	.rowFooter{
		margin-top: 6%;
	}
}
@media(min-width:800px) and (max-width:900px){
		
	.main{
		margin-top: 2%;
	}
	.intro{
		/*margin-top: 3%;*/
		width: 90%;
	}
	.ComingRow{
		margin-top: 9%;
	}
	.comingText{
		font-size: 1.8em;
		margin: 0;
	}
	.rowFooter{
		margin-top: 10%;
	}
	.rombos{
		width: 20%;
	}

}
@media(min-width:900px) and (max-width:1000px){
	.menuSection div{
		font-size: 0.79em;		
	}
	.main{
		margin-top: 3%;
	}
	.intro{
		margin-top: 7%;
	}
	.menuRow{
		margin-top: 3%;
	}
	.ComingRow{
		margin-top: 6%;
	}
	.comingText{
		font-size: 1.5em;
	}
	.rowFooter{
		margin-top: 6.5%;
	}
	
}
@media(min-width:1000px) and (max-width:1100px){
	.menuSection div{
		font-size: 0.8em;		
	}
	.main{
		margin-top: 5%;
	}
	.imgLogo, .imgLogoMovil{
		width: 90%;
	}
	.intro{
		margin-top: 7%;
	}
	.comingText{
		font-size: 1.5em;
	}
	

}
@media(min-width:1100px) and (max-width:1200px){
	
	.main{
		margin-top: 2.5%;
	}
	.imgLogo, .imgLogoMovil{
		width: 90%;
	}
	.intro{
		margin-top: 5%;
	}
	.comingText{
		font-size: 1.5em;
	}
	.menuRow{
		margin-top: 4%;
	}
	.ComingRow{
		margin-top: 5%;
	}
	.rowFooter{
		margin-top: 6%;
	}
}

@media(min-width:1200px) and (max-width:1300px){
	.imgLogo, .imgLogoMovil{
		width: 80%;
	}
	.main{
		margin-top: 2.5%;
	}
	.intro{
		margin-top: 5%;
	}
	
	.intro{
		width: 30%; 
	}
	.comingText{
		font-size: 2em;
	}
	
	
}
@media(min-width:1300px) and (max-width:1400px){
	.intro{
		margin-top: 5%;
	}
	.intro{
		width: 30%; 
	}
	.comingText{
		font-size: 2em;

	}
	
}
@media(max-width:400px){
	.comingText{
		font-size: 1em;
	}
	.imgLogoMovil{
		display: block;
	}
	.imgLogo{
		display: none;
	}
}