/*Colores de prueba*/
/*Temporal*/
/*Temporal*/
.pink{
	/*background: pink;*/
}
.red{
	background: red;
}
.blue{
	background: blue;
}
.green{
	background: green;
}
.imgLogo,.imgLogoMovil{
	width: 70%;
}
/*Diseño */
	.intro{
		/*margin-top: 5%;*/
		background: url('../../img/index/mosaik_loop_gif.gif') no-repeat center ;
		 /*no-repeat center center fixed*/
	    -webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}
	.imgLogoMovil{
		display: none;
	}
	.sloganSection{
		margin-top: 5%;
		text-align: center;
		font-family: 'Adobe Devanagari';
		font-size: 1.5em;
	}
	/* Menu section */
		.menuSection{
			/*background: green;*/
			
		}
		.menuSection div{
			padding-top:3%;
			padding-bottom:3%;
			font-weight: bold;
			font-size: 0.9em;
		}
		.menuSection div:nth-child(3){
			border: none;
		}

		.menuSection div,.rowFooter h2:nth-child(1){
			font-family: 'MS Reference Sans Serif';
		}
		.menuSection div{
			border-right: solid #bebebe 1px; 
			
		}
	/* Coming row */
		.comingText{
			text-transform: uppercase;
			font-size: 1em;
			text-align: center;
			color: #4f4f4f;
			font-weight: bold;
			font-family: 'lato-Regular';
			display: inline-block;
			vertical-align: bottom;
			margin: 0;
			margin-bottom: 0.6%;
		}
		.ComingRow{
			margin-top: 3%;
		}
	/*Footer */
		.rowFooter{
			text-align: center;
			margin-top: 5%;
		}
		.rowFooter h2{
			font-size: 1em;
			margin: 0;
			font-family: 'lato'
		}
		.rowFooter h2:nth-child(1){
			/*color: #2e3188;*/
		}
	/* Formas */
		.diamond {
			width: 0;
			height: 0;
			border: 50px solid transparent;
			border-bottom-color: red;
			position: relative;
			top: -50px;
		}
		.diamond:after {
			content: '';
			position: absolute;
			left: -50px;
			top: 50px;
			width: 0;
			height: 0;
			border: 50px solid transparent;
			border-top-color: red;
		}
.menuRow{
	margin-top: 8%;
}
.main{
	margin-top: 3.5%;

}
.logoSection{
	text-align: center;
}
.main{
	display: none;
}
.intro{
	width: 50%;
	/*position: relative;*/
	min-height: auto;
	margin: 0 auto;
	/*display: none;*/
}
.cming{
	text-align: center;
	/*background: green;*/
}
.rombos{
	width: 30%;
	vertical-align: bottom;
}
.imgLooop,.imgLooop2{
	width: 100%;
}
video#bgvid {
	width: 	100%;
	position: 	absolute;
	z-index: 0;
	height: 100%;
}